@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Skranji', cursive;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 5%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

.headerHome{
  background-color: rgb(24, 24, 32);
  padding: 5px;
  color: white;
  display: flex;
  align-items: center;
  height: 11vh;
}

.logo{
  width: 5%;
  transition: 2s;
}

.logo:hover{
  transform: rotate(5turn);
}

.ul{
  display: flex;
  gap: 80px;
  font-size: 2.5vh;
}

h1{
  margin-left: 20px;
  transition: 0.5s;
}

h1:hover{
  transform: scale(1.1,1.1);
}

.li{
  padding: 5px;
  list-style: none;
  transition: 0.2s;
}

.li:hover{
  transform: scale(1.2,1.2);
  background-color: rgba(123, 133, 138, 0.384);
  border-radius: 10px;
}

a{
  text-decoration: none;
  color: white;
  transition: 1s;
}

a:hover{
  transform: scale(1.2,1.2);
}

.cajaMenu{
  margin-left: 14%;
  gap: 9%;
  display: flex;
}

.footer{
  background-color: rgb(24, 24, 32);
  color: white;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 97%;
  left: 0%;
  display: flex;
  justify-content: center;
}

.container{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  '. cajaContador .';
}

.cajaContador{
  grid-area: cajaContador;
  padding-top: 40%;
}

.number{
  text-align: center;
  font-size: 10vh;
}

.cajaBotones{
  display: flex;
  gap: 49px;
  margin-top: 5%;
}

.btn{
  width: 30%;
  height: 5vh;
  transition: 0.2s;
}

.btn:hover{
  transform: scale(1.1, 1.1);
}

.btnPositivo{
  background-color: rgba(0, 128, 23, 0.508);
  border-radius: 10px;
}

.btnReset{
  background-color:rgba(0, 157, 255, 0.543);
  border-radius: 10px;
}

.btnNegativo{
  background-color:rgba(190, 31, 31, 0.464);
  border-radius: 10px;
}

.switch{
  background-color:white;
}

.cajaSwitch{
  height:5vh;
  width:5vh;
  background-image: url('./components/images/switchoff.png');
  background-size: cover;
  transition: 1s;
}

.linkEjercicio{
  list-style: none;
  display: flex;
  justify-content: center;
}

.linkEjercicios{
  color: black;
  list-style: none;
  text-decoration: none;
  width: 20%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: aquamarine;
  padding: 5px;
}

.h2Ejercicios{
  text-align: center;
  
}

.cajaEjercicios{
  padding-top: 5%;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}

.cajaLinkEjercicio{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cajaCarrito{
  padding-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.cajaCarrito h3{
  font-size: 3vh;
}

.cajaSelect{
  width: 30%;
}

.container-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 50px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.card-product{
  width: 100%;
  height: 32vh;
  border: 2px solid rgba(45, 225, 78, 0.67);
  border-radius: 15px;
  background-color: rgb(116, 241, 116);
  padding: 5px;
}

.img-product{
  width: 100%;
  height: 18vh;
  border-radius: 15px;
}

.name-product{
  text-align: center;
  font-size: 4vh;
}

.price-product{
  text-align: center;
}

.btn-card{
  text-align: center;
  margin-left: 25%;
  padding: 5px;
  background-color: rgba(172, 255, 47, 0.596);
  border: 1px solid rgb(59, 82, 26) ;
  border-radius: 5px;
  transition: 0.2s;
}

.btn-card:hover{
  transform: scale(1.1,1.1);
}



body.darkMode{
  background-color: rgb(0, 0, 0);
}

body.darkMode .headerHome {
  background-color: white;
}

body.darkMode a{
  color: black;
}

body.darkMode .cajaContador{
  color:white;
}

body.darkMode .btnPositivo{
  color: white;
  border-color: white;
  background-color: rgba(45, 225, 78, 0.67);
}

body.darkMode .btnReset{
  color: white;
  border-color: white;
  background-color: rgba(72, 161, 217, 0.84);
}

body.darkMode .btnNegativo{
  color: white;
  border-color: white;
  background-color: rgba(233, 58, 58, 0.628)
}

body.darkMode .footer{
  background-color:white;
  color: black;
}

body.darkMode .cajaSwitch{
  background-image: url('./components/images/toggle_switch_on_icon_205914.png');
}





